<!DOCTYPE html>
<html>
  <head>
    <title>Unidad Antidiscrimen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= hidden_field_tag 'notice', notice %>
    <%= hidden_field_tag 'alert', alert %>
    <%= yield %>
  </body>
</html>
